@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


:root {
  --aliceblue: aliceblue;
  --blue: #1f3e59;
  --blue--darker: #1a3c5a;
  --cappucino:#e9c1af;
  --full-white:rgb(255, 255, 255);
  --white:rgb(234, 228, 228);
  --gray:rgb(154, 154, 154);
  --green:rgb(56, 229, 56);
  --orange:rgb(255, 165, 0);
  --red:rgb(206, 47, 47) ;
}


body {
  font-family: 'Montserrat', sans-serif;
  color:var(--blue,rgb(5, 5, 98));
  background-color: var(--aliceblue);
}


/* LAYOUT  */


.container {
  height: 100vh;
}

.sidebar-section {
  background-color: var(--cappucino, rgba(153, 117, 102, 0.544));
  padding:2rem 3rem 3rem 3rem;
  position: relative;
  height: 100%;

}

.main-section {
 padding:3rem;
 height: 100%;
}

/* GENERAL style */

.grid {
  display:grid;
}

.grid--2-cols {
  grid-template-columns: 1.7fr 5fr;
}

.flex {
  display:flex;
}

.flex--column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.center--vert {
  align-items: center;
}

.center--horiz {
  justify-content: center;
}

.gap--sm {
  gap:1rem;
}

.gap--md {
  gap: 1.5rem;
}

.gap--lg {
  gap:2rem;
}

.gap--el {
  gap:4rem;
}

.heading-primary {
  font-family: 'Marcellus SC', serif;
  font-size: 5.5rem;
  color: var(--blue);
  text-align: center;
}

.font-size--sm {
  font-size: 1.4rem;
}

.font-size--md {
  font-size: 1.7rem;
}

.font-size--lg {
  font-size: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.right-align {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.lt-sp--sm {
  letter-spacing: 1px;
}

.margin-bottom--sm {
  margin-bottom:1rem;
}

.margin-bottom--md {
  margin-bottom:2.4rem;
}

.margin-bottom--lg {
  margin-bottom:3.2rem;
}

.margin-top--sm {
  margin-top:1rem;
}

.margin-left-auto {
  margin-left: 20px;
}

.margin-left--sm {
  margin-left: 1rem;
}



a:link,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue);
}

.btn {
  padding: 1rem 2rem; 
  border:none;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--cancel {
  background-color: var(--full-white);
  color:var(--blue);
  font-size: 1.5rem;
  letter-spacing: 0.3px;

}


.btn--delete {
  background-color: var(--red);
  color:var(--full-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}






/* SIDEBAR */

footer {
  position:absolute;
  bottom:0;
  padding: 0 0 30px 0;
}

.input-box {
  position:relative;
}

.sidebar-input {
  width:100%;
  padding: 15px 0 5px 0;
  border:none;
  background-color: var(--cappucino);
  border-bottom: 2px dotted var(--blue);
  color:var(--blue);
}

.sidebar-input:focus {
  outline: none;
  border-bottom: 2px dotted var(--white);
}

input[type="checkbox"] {
  width:1.8rem;
  height: 1.8rem;
  margin-right:5px;
}

.btn--form {
  padding:1.8rem 2.2rem;
  width:70%;
  text-transform: uppercase;
  /* letter-spacing: 0.2px; */
  color:var(--white);
  background-color: var(--blue);
}


.input-box--text {
  position:absolute;
  top:14px;
  left:0;
}

footer p {
  font-size:1.5rem;
}


/* MAIN SECTION */


.main-section--info p{
  text-transform: uppercase;
  font-size: 1.8rem;
}

.main-section--container {
  /* background-color: blue; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
}

.box {
  position:relative;
  width: 250px;
  height:90%;
  padding:1rem 1rem 0rem 1rem;
  background-color: var(--blue);
  color:var(--white);
  border: 2px solid var(--gray);
  box-shadow: 10px 5px 5px #e2e0e0;
  justify-self:center;
  align-self: center;
}

.book {
  padding:1rem;
}

.num-pages {
  position:absolute;
  bottom:10px;
  right:10px;
  color: var(--gray);
}

/* LOGIC */

/* ACTIVE CLASS JE CURRENT ACTIVE */

.hidden {
  display:none;
}

/* COMPLETED */

.completed .status {
  margin-top: 1rem;
  color:var(--green);
}


/* in PROGRESS */


.loading {
  width:100%;
  background-color: white;
  height:13px;
  border:1px solid var(--gray);
  overflow: hidden;
}

.fill {
  height:inherit;
  background-color: green;
}

/* on my list */

.on-list .status {
  margin-top: 1rem;
  color:var(--orange);
}


/* FORM LOGIC */

span {
  transition: all 0.3s;
}


/* num typed is for typing into number input to stay */

.typing span,
.clicked span
 {
  top:-20%;
  font-size: 1.2rem;
}




/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
}

.modal-content {
  /* display: none; */
  position:relative;
  background-color: var(--full-white);
  margin: 8% auto; /* 8% from the top and centered */
  border: 2px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

.delete-modal {
  display: none;
}

.update-modal {
  display:none;
}

.modal-content--heading {
  background-color: var(--blue);
  color:var(--white);
  padding:2rem;
}

.modal-content--main {
  color:var(--blue);
  padding:1rem;
}

/* The Close Button */
.close {
  position:absolute;
  right:1.5%;
  top:2%;
  color: var(--full-white);
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

/* FORM MODAL */
.input-box--update {
  width: 75%;
}

.modal-input {
  width:100%;
  padding: 1rem;
  background-color: var(--blue);
  color:var(--full-white);
  font-size:1.7rem;
}

.modal-input:focus {
  outline: none;
}

.btn--edit {
  background-color: var(--cappucino);
  border:1.8px solid var(--blue);
  color:var(--blue);
  letter-spacing: 0.8px;
}


